<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jst.jsf.common.standardMetaDataFiles">
      <standardMetaDataFile
            location="$nl$/metadata/facelet_ui.xml"
            uri="http://java.sun.com/jsf/facelets">
      </standardMetaDataFile>
   </extension>
    <extension point="org.eclipse.emf.ecore.generated_package">
        <package 
            uri = "http://org.eclipse.jst.jsf.facelet.core/additionalTagMetadata.ecore" 
            class = "org.eclipse.jst.jsf.facelet.core.internal.cm.addtagmd.AddTagMDPackage"
            genModel = "model/additionalTagMetadata.genmodel" />  
     </extension>
</plugin>
