<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Registers DITA-related content types extensions as xml content-->
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.eclipse.wst.xml.vex.ui.dita" name="%contentType.name"
			base-type="org.eclipse.wst.xml.vex.ui.XmlDocument" file-extensions="dita, ditamap, bookmap, ditaval">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.map"
			name="%contentType.map.name" base-type="org.eclipse.wst.xml.vex.ui.dita.map"
			file-extensions="ditamap, bookmap">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.ditaval"
			name="%contentType.ditaval.name" base-type="org.eclipse.wst.xml.vex.ui.dita.ditaval"
			file-extensions="ditaval">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.topic"
			name="%contentType.topic.name" base-type="org.eclipse.wst.xml.vex.ui.dita.topic"
			file-extensions="dita">
		</content-type>
	</extension>

 <!-- DITA 1.1 DTD catalog contributions-->
 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution
          id="default">
       <public
             publicId="-//OASIS//DTD DITA 1.1 Concept//EN"
             uri="dita11/concept.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Composite//EN"
             uri="dita11/ditabase.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Reference//EN"
             uri="dita11/reference.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Task//EN"
             uri="dita11/task.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Topic//EN"
             uri="dita11/topic.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Map//EN"
             uri="dita11/map.dtd">
       </public>
    </catalogContribution>
 </extension>
	
   <extension
         id="concept"
         name="%doctype.concept"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="concept.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Concept//EN">
         <rootElement
               name="concept">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="composite"
         name="%doctype.composite"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="ditabase.dtd"
            publicId="-//OASIS//DTD DITA Composite//EN">
      </doctype>
   </extension>
   <extension
         id="reference"
         name="%doctype.reference"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="reference.dtd"
            publicId="-//OASIS//DTD DITA Reference//EN">
      </doctype>
   </extension>
   <extension
         id="task"
         name="%doctype.task"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="task.dtd"
            publicId="-//OASIS//DTD DITA Task//EN">
      </doctype>
   </extension>
   <extension
         id="topic"
         name="%doctype.topic"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="topic.dtd"
            publicId="-//OASIS//DTD DITA Topic//EN">
      </doctype>
   </extension>
   <extension
         id="map"
         name="%doctype.map"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="map.dtd"
            publicId="-//OASIS//DTD DITA Map//EN">
      </doctype>
   </extension>
   <extension
         id="classed"
         name="%style.classed"
         point="org.eclipse.wst.xml.vex.ui.styles">
      <style
            css="css/dita_classed_shell_vex.css">
         <doctypeRef
               publicId="-//OASIS//DTD DITA Reference//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Task//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Topic//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Composite//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Concept//EN">
         </doctypeRef>
      </style>
   </extension>
   
   <extension
         id="mapStyle"
         name="%style.mapStyle"
         point="org.eclipse.wst.xml.vex.ui.styles">
      <style
            css="css/map_shell.css">
         <doctypeRef
               publicId="-//OASIS//DTD DITA Map//EN">
         </doctypeRef>
      </style>
   </extension>
	
</plugin>
