<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Registers DITA-related content types extensions as xml content-->
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.eclipse.wst.xml.vex.ui.dita" name="%contentType.name"
			base-type="org.eclipse.wst.xml.vex.ui.XmlDocument" file-extensions="dita, ditamap, bookmap, ditaval">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.map"
			name="%contentType.map.name" base-type="org.eclipse.wst.xml.vex.ui.dita.map"
			file-extensions="ditamap, bookmap">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.ditaval"
			name="%contentType.ditaval.name" base-type="org.eclipse.wst.xml.vex.ui.dita.ditaval"
			file-extensions="ditaval">
		</content-type>
		<content-type id="org.eclipse.wst.xml.vex.ui.dita.topic"
			name="%contentType.topic.name" base-type="org.eclipse.wst.xml.vex.ui.dita.topic"
			file-extensions="dita">
		</content-type>
	</extension>

 
 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution
          id="default">
          
       <!-- DITA DTD catalog contributions-->
       <public
             publicId="-//OASIS//DTD DITA Concept//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/concept.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Reference//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/reference.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Task//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/task.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Topic//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/topic.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA Map//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/map.dtd">
       </public>
          
       <!-- DITA 1.1 DTD catalog contributions-->
       <public
             publicId="-//OASIS//DTD DITA 1.1 Concept//EN"
             uri="dita11/concept.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.1 Reference//EN"
             uri="dita11/reference.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.1 Task//EN"
             uri="dita11/task.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.1 Topic//EN"
             uri="dita11/topic.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.1 Map//EN"
             uri="dita11/map.dtd">
       </public>
       
       <!-- DITA 1.2 DTD catalog contributions-->
       <public
             publicId="-//OASIS//DTD DITA 1.2 Concept//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/concept.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.2 Reference//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/reference.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.2 Task//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/task.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.2 Topic//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/topic.dtd">
       </public>
       <public
             publicId="-//OASIS//DTD DITA 1.2 Map//EN"
             uri="dita12/dtd1.2/technicalContent/dtd/map.dtd">
       </public>       
       
    </catalogContribution>
 </extension>
 

   <!-- DITA 1.1 doctype vex declaration-->
   <extension
         id="concept11"
         name="%doctype.dita11.concept"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="concept.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Concept//EN">
         <rootElement
               name="concept">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="reference11"
         name="%doctype.dita11.reference"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="reference.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Reference//EN">
            <rootElement
               name="reference">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="task11"
         name="%doctype.dita11.task"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="task.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Task//EN">
            <rootElement
               name="task">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="topic11"
         name="%doctype.dita11.topic"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="topic.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Topic//EN">
            <rootElement
               name="topic">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="map11"
         name="%doctype.dita11.map"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="map.dtd"
            publicId="-//OASIS//DTD DITA 1.1 Map//EN">
            <rootElement
               name="map">
         </rootElement>
      </doctype>
   </extension>
   
   
   <!-- DITA 1.2 doctype vex declaration-->
   <extension
         id="concept12"
         name="%doctype.dita12.concept"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="concept.dtd"
            publicId="-//OASIS//DTD DITA 1.2 Concept//EN">
         <rootElement
               name="concept">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="reference12"
         name="%doctype.dita12.reference"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="reference.dtd"
            publicId="-//OASIS//DTD DITA 1.2 Reference//EN">
            <rootElement
               name="reference">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="task12"
         name="%doctype.dita12.task"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="task.dtd"
            publicId="-//OASIS//DTD DITA 1.2 Task//EN">
            <rootElement
               name="task">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="topic12"
         name="%doctype.dita12.topic"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="topic.dtd"
            publicId="-//OASIS//DTD DITA 1.2 Topic//EN">
            <rootElement
               name="topic">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="map12"
         name="%doctype.dita12.map"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            systemId="map.dtd"
            publicId="-//OASIS//DTD DITA 1.2 Map//EN">
            <rootElement
               name="map">
         </rootElement>
      </doctype>
   </extension>
   
   
   
   <!-- Style class for Reference, Task, Topic and Concept-->
   <extension
         id="classed"
         name="%style.classed"
         point="org.eclipse.wst.xml.vex.ui.styles">
      <style
            css="css/dita_classed_shell_vex.css">
            
         <!-- General DITA doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA Reference//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Task//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Topic//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA Concept//EN">
         </doctypeRef>
         
         <!-- DITA 1.1 doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Reference//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Task//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Topic//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Concept//EN">
         </doctypeRef>
         
		 <!-- DITA 1.2 doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.2 Reference//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.2 Task//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.2 Topic//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.2 Concept//EN">
         </doctypeRef>
      </style>
   </extension>
   
   <!-- Style class for Map-->
   <extension
         id="mapStyle"
         name="%style.mapStyle"
         point="org.eclipse.wst.xml.vex.ui.styles">
      <style
            css="css/map_shell.css">
         
         <!-- General DITA doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA Map//EN">
         </doctypeRef>
         
         <!-- DITA 1.1 doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.1 Map//EN">
         </doctypeRef>
         
         <!-- DITA 1.2 doctype CSS style bindings-->
         <doctypeRef
               publicId="-//OASIS//DTD DITA 1.2 Map//EN">
         </doctypeRef>
      </style>
   </extension>
	
</plugin>
