body {
	background-color: #fff;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1.3em;
	font-style: normal;
	color: #333;
}

h2 {
	font-size: 1.2em;
	font-style: normal;
	color: #333;
}

h3 {
	font-size: 1.1em;
	font-style: normal;
	color: #333;
}

div {
	font-size: 0.8em;
	text-decoration: none;
}

p, ul, ol {
	font-size: 1em;
	text-decoration: none;
}

ul.NavList li {
	list-style-type: none;
}

img {
	border: 0;
	vertical-align: bottom;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link, a:visited, a:hover, a:active {
	font-size: 1em;
	text-decoration: none;
	color: #00f;
}
a:hover {
	text-decoration: underline;
}
